<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mqtt client</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
</head>
<style type="text/css">
    #textb{
        border: 1px solid #3366FF;
        border-left: 4px solid #3366FF;
        margin-top: 10px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; width: 415px;
    }
    p{
        border-top: 1px solid #EEEEEE;
        margin-top: 0px; margin-bottom: 5px; padding-top: 5px;
    }
    span{
        font-weight: bold;
        color: #3B5998;
    }
    span.me{
        font-weight: bold;
        color: #90ff65;
    }
</style>
<body>
    <!--
    <input name="sender" type="text" id="texta" value=""/>
    -->
    <div id="msg-cont" class="refresh">

    </div>
    <input name="message" type="text" id="textb"/>
</body>

<script>
    let sid = "hello"

    document.getElementById("textb").addEventListener("keyup", function msgInput(e) {
        const msg = this.value
        e.which = e.which || e.keyCode
        if(e.which === 13) {
            fetch("http://localhost:8000/hello", {
                method : "POST",
                body : JSON.stringify({msg : msg, sid : sid}),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).catch((e) => {
                console.log("에러임")
                console.error(e)
            }).then(() => {
                this.value = ""
                const msgEl = `<p><span class="me">me</span>&nbsp;&nbsp;${msg}</p>`
                document.getElementById("msg-cont").insertAdjacentHTML("beforeend", msgEl)
            })
        }
    })

    // 연결 됐을 시
    function onMQTTConnectHandler() {
        // Once a connection has been made, make a subscription and send a message.
        console.log("onMQTTConnectHandler");
    }

    // 메세지 수신 시
    function onMQTTMessageArrivedHandler(message) {
        try {

            if(message.destinationName === "sid") {
                sid = JSON.parse(message.payloadString).sid
            } else {
                const msg = message.payloadString
                const jsonMsg = JSON.parse(msg)
                const msgEl = `<p><span>${jsonMsg.name}</span>&nbsp;&nbsp;${jsonMsg.msg}</p>`
                document.getElementById("msg-cont").insertAdjacentHTML("beforeend", msgEl)
            }

        } catch (e) {
            console.error(e);
        }
    }

    const mqttUrl = 'ws://localhost:8000/mqtt';

    // 클라이언트 설정
    let client = new Paho.MQTT.Client(mqttUrl, sid);

    // 이벤트 핸들러 설정
    client.onConnectionLost = onMQTTConnectionLostHandler;
    client.onMessageArrived = onMQTTMessageArrivedHandler;

    // 연걸시
    client.connect({onSuccess:onMQTTConnectHandler});

    // 연결을 잃었을 시
    function onMQTTConnectionLostHandler(responseObject) {
        if (responseObject.errorCode !== 0) {
            console.log("onMQTTConnectionLostHandler:"+responseObject.errorMessage);
            client.connect({onSuccess:onMQTTConnectHandler});
        }
    }

</script>
</html>

